@charset "utf-8";

/* Created by Pam Atkins, February 2011 for distribution via http://freehtml5templates.com*/

body {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 14px;
	background-image: url(images/bg.jpg);
	background-repeat: repeat;
	background-color: #000;
}

div#outerwrapper {
	margin: 20px auto;
	width: 960px;
	background-color: #CEC7AA;
	-moz-box-shadow: 0 0 3px 3px #333;
   -webkit-box-shadow: 0 0 3px 3px #333;
    box-shadow: 0 0 3px 3px #333;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

/* Common  Classes  */
.left  { float:left}
.right { float:right}
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0px; height:0px;}
.hide  { display:none}

.align_right    { text-align:right;}
.align_left     { text-align:left;}
.align_center   { text-align:center;}


a {	color:#525252;	}
a:hover, a:focus { text-decoration:underline;}
a:active, a:visited { color: #555; }


/* Header Styles */
h1 {	font-size:2em; line-height: 200%; font-family: Georgia, serif;}
h2 {	font-size:1.5em;line-height: 200%; font-family: Georgia, serif;}
h3 {	font-size:1.1em;} 




/* custom select color  */
::selection {
	background: #525252; /* Safari */
	}
::-moz-selection {
	background: #525252; /* Firefox */
	color:#fff;
}

/* ** ** paragraph styling ** ** */
p {margin:0 0 1.2em;}
	p img.left {float:left;margin:1.52em 1.52em 1.52em 0;padding:0;}
	p img.right {float:right;margin:1.52em 0 1.52em 1.52em;}

/* ** ** forms ** ** */
form fieldset {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius:5px; padding-top:5px; padding-left:5px; border:1px solid #ccc; }
form fieldset legend {font-size:1.4em; padding:0 5px;}
form input[type=text], form input[type=email], form input[type=url] {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px; height:20px; margin-bottom:5px; border:1px solid #ccc; padding:4px 0 1px 5px;}
form label {display:block; height:20px; font-size:1.2em;}

/* layout styling */
.col {
	margin-left:10px; margin-right:10px;
	display: inline;
	overflow: hidden;
	float: left;
	position: relative;
}

.row{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.col_12{ width:700px; }
.col_4 { width:220px; }



p.menuboxes {
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background: none repeat scroll 0 0 #D9D4B7;
    float: left;
    margin: 2em 10px 4em;
    padding: 1em;
    position: relative;
    width: 80%;
	 font-weight: bold;
	 text-transform: uppercase;
}

p.menuboxes a {
color: #000;
font-weight: bold;
text-decoration: none;
}

p.menuboxes a:hover {
text-decoration: underline;
}

p.menuboxes img{
  vertical-align: middle;
  padding-left: 10px;
}

.contentboxes {
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background: none repeat scroll 0 0 #D9D4B7;
    float: left;
    margin: 2em 10px 4em;
    padding: 1em;
    position: relative;
    width: 90%;

}




